{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Welkom bij de robotwagen webpagina</h1>       
    </header>
    <p> <div class="timer" id="timer">00:00:00</div></p>
    <p>Live score:</p>
    <div id="pico-data">
        Waiting for data...
    </div>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body><center><h1>Control Panel</h1></center><br><br>
        <button class="buttonRed" onclick="sendCommand('noodstop')">NOODKNOP</button>
        <br><br>
</article>

<h3 id="status">Status: Disconnected</h3>

<script src="{{ url_for('static', filename='main.js') }}"></script>
<script>
    // Automatically connect when page loads
    window.addEventListener('load', function() {
        connect_socket();
    });
</script>
</body>
</html>
{% endblock %} 