{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Welkom bij de robotwagen webpagina</h1>
    </header>
    <p>This is a minimal Flask application styled with Pico.css</p>
    <p>Live score:</p>
    <div id="pico-data">
        Waiting for data...
    </div>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:,">
<style>html { font-family: Helvetica; display: inline-block; margin: 0px auto; text-align: center;}
.buttonRed { background-color: #D11D53; border: 2px solid #000000;; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; }
text-decoration: none; font-size: 30px; margin: 2px; cursor: pointer;}
</style></head>
    <body><center><h1>Control Panel</h1></center><br><br>
<form><center>
    <center> <button class="buttonRed" name="noodknop" value="on" type="submit">NOODKNOP</button>
</form>
<br><br>
</article>
<html>
<body>

<button onclick="connect_socket()">Connect</button>
<h3 id="status">Status: Disconnected</h3>

<button onclick="sendCommand('move_forward')">Move forward</button>

</body>
</html>

<script>
    let socket = undefined;

    function connect_socket() {
        // Close any existing sockets
        disconnect_socket();

        socket = new WebSocket("ws://192.168.4.1:80/connect-websocket");

        // Connection opened
        socket.addEventListener("open", (event) => {
            document.getElementById("status").textContent = "Status: Connected";
        });

        socket.addEventListener("close", (event) => {
            socket = undefined;
            document.getElementById("status").textContent = "Status: Disconnected";
        });

        socket.addEventListener("message", (event) => {
            console.log(event.data)
        });

        socket.addEventListener("error", (event) => {
            socket = undefined;
            document.getElementById("status").textContent = "Status: Disconnected";
        });
    }

    function disconnect_socket() {
        if(socket != undefined) {
            socket.close();
        }
    }

    function sendCommand(command) {
        if(socket != undefined) {
            socket.send(command)
        } else {
            alert("Not connected to the PICO")
        }
    }
</script>
<script>
    const eventSource = new EventSource("/stream");
    const dataDiv = document.getElementById("pico-data");
    
    eventSource.onmessage = function(event) {
        const data = JSON.parse(event.data);
        dataDiv.textContent = "Received data: " + data.value;
    };

    eventSource.onerror = function(error) {
        console.error("EventSource failed:", error);
        eventSource.close();
    };
</script>
{% endblock %} 